@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #0A0A0A;
  --primary: #2563EB;
  --accent: #F97316;
  --muted: #6B7280;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
}

::selection {
  background-color: var(--primary);
  color: white;
}
